<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>200190659055-ua4phmjpij9e9a5s8jtvbmkf95eg949a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200190659055-ua4phmjpij9e9a5s8jtvbmkf95eg949a</string>
	<key>API_KEY</key>
	<string>AIzaSyAtbGYOVMuq8NIHI5Sh6uX1Lzvx5YwZj7E</string>
	<key>GCM_SENDER_ID</key>
	<string>200190659055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthewma.ChemistHelper</string>
	<key>PROJECT_ID</key>
	<string>chemist-helper</string>
	<key>STORAGE_BUCKET</key>
	<string>chemist-helper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200190659055:ios:5ebcb2bef7d0a4d9</string>
	<key>DATABASE_URL</key>
	<string>https://chemist-helper.firebaseio.com</string>
</dict>
</plist>